# Python cache
__pycache__/
*.pyc
*.ipynb_checkpoints/
# Virtual environment
venv/
env/
# Output figure
*.png
*.jpg
# Local raw data (optional, if you don't want to upload csv)
# *.csv
# System temp file
.DS_Store
Thumbs.db
